@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
	<title>@ViewData["Title"] - Odonto Sistema de Gestão</title>

	<link href="~/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
	<link href="~/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
	<link href="~/css/lib/owl.carousel.min.css" rel="stylesheet" />
	<link href="~/css/lib/owl.theme.default.min.css" rel="stylesheet" />
	<link href="~/css/helper.css" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/site.css" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar">
	<!-- Preloader - style you can find in spinners.css -->
	@*<div class="preloader">
		<svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
		</svg>
	</div>*@
	<div class="header">
		<nav class="navbar top-navbar navbar-expand-md navbar-light" style="top: 0;right: 0;left: 0;z-index: 1030;">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html">
					<b><img src="~/images/dentalIcon32.png" alt="" class="dark-logo" /></b>
					<span>@*<img src="images/logo-text.png" alt="" class="dark-logo" />*@</span>
				</a>
			</div>

			<div class="navbar-collapse">
				<ul class="navbar-nav mr-auto mt-md-0">
					<li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
					<li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
					@*<li class="nav-item dropdown mega-dropdown">
						<a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th-large"></i></a>
					</li>*@
				</ul>
				<ul class="navbar-nav my-lg-0">
					<li class="nav-item hidden-sm-down search-box">
						<a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-search"></i></a>
						<form class="app-search">
							<input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="ti-close"></i></a>
						</form>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-muted  " href="#" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-envelope"></i>
							<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
						</a>
						<div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn" aria-labelledby="2">
							<ul>
								<li>
									<div class="drop-title">You have 4 new messages</div>
								</li>
								<li>
									<div class="message-center">
										<a href="#">
											<div class="user-img"> <img src="images/users/5.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
											<div class="mail-contnet">
												<h5>Michael Qin</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
											</div>
										</a>
										<a href="#">
											<div class="user-img"> <img src="images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
											<div class="mail-contnet">
												<h5>John Doe</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
											</div>
										</a>
										<!-- Message -->
										<a href="#">
											<div class="user-img"> <img src="images/users/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
											<div class="mail-contnet">
												<h5>Mr. John</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
											</div>
										</a>
										<a href="#">
											<div class="user-img"> <img src="images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
											<div class="mail-contnet">
												<h5>Michael Qin</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
											</div>
										</a>
									</div>
								</li>
								<li>
									<a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> @HttpContextAccessor.HttpContext.Session.GetString("userName")</a>
						<div class="dropdown-menu dropdown-menu-right animated zoomIn">
							<ul class="dropdown-user">
								<li><a asp-action="Logout" asp-controller="Login"><i class="fa fa-power-off"></i> Sair</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	
	<div class="left-sidebar">
		<div class="scroll-sidebar">
			<nav class="sidebar-nav">
				<ul id="sidebarnav">
					<li class="nav-devider"></li>
					<li class="nav-label">Home</li>
					<li>
						<a class="" href="@Url.Action("Index","Dashboard")" aria-expanded="false"><i class="fa fa-hashtag"></i><span class="hide-menu">Dashboard</span></a>
					</li>
					<li class="nav-label">Cadastros</li>
					<li>
						<a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Pacientes</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="@Url.Action("Add", "Patients")">Criar Novo</a></li>
							<li><a href="@Url.Action("List", "Patients")">Listar</a></li>
						</ul>
					</li>
					<li>
						<a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-user-md"></i><span class="hide-menu">Dentistas</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="@Url.Action("Add", "Dentist")">Criar Novo</a></li>
							<li><a href="@Url.Action("List", "Dentist")">Listar</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="page-wrapper">
		<div class="row page-titles">
			<div class="col-md-5 align-self-center">
				<h3 class="text-primary">@ViewData["Section"]</h3>
			</div>
			<div class="col-md-7 align-self-center">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0)">@ViewData["Section"]</a></li>
					<li class="breadcrumb-item active">@ViewData["Action"]</li>
				</ol>
			</div>
		</div>
		<div class="container-fluid">
			@RenderBody()
		</div>
	</div>
	<script src="~/js/lib/jquery/jquery.min.js"></script>
	<script src="~/js/lib/bootstrap/js/popper.min.js"></script>
	<script src="~/js/lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.slimscroll.js"></script>
	<script src="~/js/sidebarmenu.js"></script>
	<script src="~/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
	<script src="~/js/custom.min.js"></script>
</body>

</html>