@model Odonto.WebApp.ViewModels.VMAdminUser
@{
	ViewData["Title"] = ViewData["Action"] + " Colaborador";
	var action = this.ViewContext.RouteData.Values["action"].ToString();
}
<div class="col-md-12">
	<div class="card card-with-error">
		@if (!string.IsNullOrEmpty(ViewBag.Error))
		{
			<div class="card-header">@ViewBag.Error</div>
		}
		<div class="card-body">
			<form action="@action" method="post">
				<input type="hidden" asp-for="Admin.ID" />
				<div class="form-body">
					<h3 class="m-t-5">Informações do Colaborador</h3>
					<hr>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Nome <small>(campo obrigatório)</small></label>
								<input type="text" asp-for="Admin.Name" class="form-control" autofocus required />
								<span asp-validation-for="Admin.Name" class="form-control-feedback text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">CPF </label>
								<input type="text" asp-for="Admin.CPF" class="form-control" autofocus maxlength="11" placeholder="somente números" />
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Data de Nascimento</label>
								<input type="date" asp-for="Admin.BirthDate" class="form-control" autofocus />
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Sexo <small>(campo obrigatório)</small></label><br />
								<div class="form-group">
									<input asp-for="Admin.Sex" type="radio" value="F" /> Feminino &nbsp;&nbsp;
									<input asp-for="Admin.Sex" type="radio" value="M" /> Masculino
								</div>
								<span asp-validation-for="Admin.Sex" class="form-control-feedback text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Cargo </label>
								<input type="text" asp-for="Admin.Position" class="form-control" autofocus />
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Telefone <small>(campo obrigatório)</small></label>
								<input type="text" asp-for="Admin.Phone" id="phone1" class="form-control" autofocus required />
								<span asp-validation-for="Admin.Phone" class="form-control-feedback text-danger"></span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Telefone 2</label>
								<input type="text" asp-for="Admin.Phone2" id="phone2" class="form-control" autofocus />
							</div>
						</div>
					</div>
					<h4 class="m-t-10">Credenciais</h4>
					<hr>
					<input type="hidden" asp-for="User.ID" />
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Tipo <small>(campo obrigatório)</small></label>
								<select asp-for="User.Type" class="form-control" required>
									<option value="">Selecione um tipo de usuário</option>
									@foreach (var item in ViewBag.Types)
									{
										<option value="@item.ID">@item.Name</option> }
								</select>
								<span asp-validation-for="User.Type" class="form-control-feedback text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Ativo <small>(campo obrigatório)</small></label>
								<div class="form-group">
									<input asp-for="User.Active" type="radio" value="@true" /> Sim &nbsp;&nbsp;
									<input asp-for="User.Active" type="radio" value="@false" /> Não
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">E-mail <small>(campo obrigatório)</small></label>
								<input type="text" asp-for="User.Email" class="form-control" autofocus required />
								<span asp-validation-for="User.Email" class="form-control-feedback text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								@if (action == "Add")
								{
									<label class="control-label">Senha <small>(campo obrigatório)</small></label>
									<input type="password" asp-for="User.Password" class="form-control" autofocus required />
								}
								else
								{
									<label class="control-label">Senha </label>
									<input type="password" asp-for="User.Password" class="form-control" autofocus placeholder="Digite a nova senha" />
								}
							</div>
						</div>
					</div>

					<h4 class="m-t-10">Endereço</h4>
					<hr>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Rua/Avenida</label>
								<input type="text" asp-for="Admin.Address" class="form-control" autofocus />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Número</label>
								<input type="text" asp-for="Admin.Number" class="form-control" autofocus />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Cidade</label>
								<input type="text" asp-for="Admin.City" class="form-control" autofocus />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Estado</label>
								<input type="text" asp-for="Admin.State" class="form-control" autofocus maxlength="2" />
							</div>
						</div>
					</div>
				</div>
				<div class="form-actions text-right">
					<button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Salvar</button>
					<button type="button" class="btn btn-outline-inverse" onclick="window.history.back()">Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="https://unpkg.com/imask"></script>
<script>
	var element = document.getElementById('phone1');
	var element2 = document.getElementById('phone2');
	var maskOptions = {
		mask: '(00) 00000-0000'
	};
	var mask = new IMask(element, maskOptions);
	var mask = new IMask(element2, maskOptions);
</script>
