@model Odonto.Models.User
@{
	ViewData["Title"] = ViewData["Action"] + " Usuário";
	var action = this.ViewContext.RouteData.Values["action"].ToString();
}
<div class="col-md-12">
	<div class="card card-with-error">
		@if (!ViewData.ModelState.IsValid)
		{
			<div class="card-header">Preencha todos os campos obrigatórios</div>
		}
		@if (!string.IsNullOrEmpty(ViewBag.Error))
		{
			<div class="card-header">@ViewBag.Error</div>
		}
		<div class="card-body">
			<form action="@action" method="post">
				<input type="hidden" asp-for="ID" />
				<div class="form-body">
					<h3 class="m-t-5">Credenciais do Usuário</h3>
					<hr>
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="form-group">
								<label class="control-label">Tipo <small>(campo obrigatório)</small></label>
								<select asp-for="Type" class="form-control" required>
									<option value="">Selecione um tipo de usuário</option>
									@foreach (var item in ViewBag.Types)
									{
									<option value="@item.ID">@item.Name</option> }
								</select>
								<span asp-validation-for="Type" class="form-control-feedback text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="form-group">
								<label class="control-label">Ativo <small>(campo obrigatório)</small></label>
								<div class="form-group">
									<input asp-for="Active" type="radio" value="@true" /> Sim &nbsp;&nbsp;
									<input asp-for="Active" type="radio" value="@false" /> Não
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="form-group">
								<label class="control-label">E-mail <small>(campo obrigatório)</small></label>
								<input type="text" asp-for="Email" class="form-control" autofocus required />
								<span asp-validation-for="Email" class="form-control-feedback text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="form-group">
								<label class="control-label">Senha</label>
								@if (action == "Add")
								{
									<input type="password" asp-for="Password" class="form-control" autofocus required />
									<span asp-validation-for="Password" class="form-control-feedback text-danger"></span>
								}
								else
								{
									<input type="password" asp-for="Password" class="form-control" autofocus placeholder="Digite a nova senha" />
								}
							</div>
						</div>
					</div>
				</div>
				<div class="form-actions text-right">
					<button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Salvar</button>
					<button type="button" class="btn btn-outline-inverse" onclick="window.history.back()">Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</div>
