@model IEnumerable<Odonto.Models.Patient>
@{
    ViewData["Title"] = "Listar Pacientes";
}

<div class="col-md-12">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Lista de Pacientes</h4>
			<form method="get">
				<div class="row">
					<div class="col-2 col-md-2 text-right"><label class="control-label filter">CPF </label></div>
					<div class="col-10 col-md-3 text-right"><input name="cpf" type="text" class="form-control filter" value="@ViewBag.cpf" /></div>
					<div class="col-2 col-md-2 text-right"><label class="control-label filter">Nome </label></div>
					<div class="col-10 col-md-3 text-right"><input name="name" type="text" class="form-control filter" value="@ViewBag.name" /></div>
					<div class="col-12 col-md-2 text-right"><button class="btn btn-info" type="submit"><i class="fa fa-search"></i> Filtrar</button></div>
				</div>
			</form>
			<div class="table-responsive m-t-20">
				<table id="myTable" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th width="20%" class="text-center">CPF</th>
							<th>Nome</th>
							<th width="10%" class="text-center hidden-sm-down">Sexo</th>
							<th width="12%" class="text-center hidden-sm-down">Telefone</th>
							<th width="10%" class="text-center"></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td class="text-center">@item.CPF</td>
								<td><a title="Clique para ver o prontuário" href="@Url.Action("Records", "Patients", new { id = item.ID })">@item.Name</a></td>
								<td class="text-center hidden-sm-down">@item.SexString</td>
								<td class="text-center hidden-sm-down">@item.Phone</td>
								<td class="text-center">
									<a title="Editar" class="text-warning" asp-action="Edit" asp-controller="Patients" asp-route-id="@item.ID"><i class="fa fa-pencil fa-lg"></i></a>
									@*&nbsp;<a title="Remover" class="text-danger" asp-action="Remove" asp-controller="Patients" asp-route-id="@item.ID"><i class="fa fa-trash fa-lg"></i></a>*@
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<a class="btn btn-success pull-right hidden-xs-down btn-add-flyout" asp-action="Add">
	<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Criar Novo
</a>
<a class="btn btn-success pull-right hidden-sm-up btn-add-flyout" asp-action="Add">
	<i class="fa fa-plus" aria-hidden="true"></i>
</a>