@model IEnumerable<Odonto.Models.Patient>
@{
    ViewData["Title"] = "Listar Pacientes";
}

<div class="col-md-12">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Lista de Pacientes</h4>
			<h6 class="card-subtitle">Filtre os pacientes por Nome ou CPF</h6>
			<div class="table-responsive m-t-10">
				<table id="myTable" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>CPF</th>
							<th>Nome</th>
							<th class="hidden-sm-down">Sexo</th>
							<th class="hidden-sm-down">Telefone</th>
							<th class="text-center"></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.CPF</td>
								<td><a title="Clique para ver o prontuário" href="@Url.Action("Record", "Patients", new { patientId = item.ID })">@item.Name @item.LastName</a></td>
								<td class="hidden-sm-down">@item.SexString</td>
								<td class="hidden-sm-down">@item.Phone</td>
								<td class="text-center">
									<a title="Editar" class="text-warning" asp-action="Edit" asp-controller="Patients" asp-route-id="@item.ID"><i class="fa fa-pencil fa-lg"></i></a>&nbsp;
									<a title="Remover" class="text-danger" asp-action="Remove" asp-controller="Patients" asp-route-id="@item.ID"><i class="fa fa-trash fa-lg"></i></a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
