@model Odonto.Models.Patient
@{
	ViewData["Title"] = "Prontuário do Paciente";
}
<div class="col-md-12">
	@Html.Partial("_Profile", Model)
	
	@if (Model.Record != null)
	{
		@Html.Partial("_Anamnesis", Model.Record)
		@Html.Partial("_Procedures", Model.Record.Procedures)
	}
</div>

@if (Model.Record == null)
{
	<a class="btn btn-primary pull-right hidden-xs-down btn-add-flyout" asp-action="AddAnamnesis" asp-route-id="@Model.ID">
		<i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp;Criar Anamnese
	</a>
	<a class="btn btn-primary pull-right hidden-sm-up btn-add-flyout" asp-action="AddAnamnesis" asp-route-id="@Model.ID">
		<i class="fa fa-address-card" aria-hidden="true"></i>
	</a>
}
else
{
	<a class="btn btn-success pull-right hidden-xs-down btn-add-flyout" asp-action="AddProcedure" asp-route-id="@Model.ID">
		<i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;&nbsp;Novo Procedimento
	</a>
	<a class="btn btn-success pull-right hidden-sm-up btn-add-flyout" asp-action="AddProcedure" asp-route-id="@Model.ID">
		<i class="fa fa-tasks" aria-hidden="true"></i>
	</a>
}

@*
		<button type="button" class="btn btn-primary pull-right hidden-xs-down btn-add-procedure" data-toggle="modal" data-target="#newProcedure">
		<i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;&nbsp;Novo Procedimento
	</button>
	<button type="button" class="btn btn-primary pull-right hidden-sm-up btn-add-procedure" data-toggle="modal" data-target="#newProcedure">
		<i class="fa fa-tasks" aria-hidden="true"></i>
	</button>
		<div class="modal fade" id="newProcedure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Novo Procedimento</h5>
					<button type="button" class="close m-t-0 m-r-10 p-0" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form action="@Url.Action("AddProcedure", "Patient")" method="post">
					<input type="hidden" name="Model.PatientRecordID" value="@Model.ID" />
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Dentista *</label>
									<select name="Model.DentistID" class="form-control" required>
										@{
											var dentists = ViewData["Dentists"] as IEnumerable<Odonto.Models.Dentist>;
											<option value="0">Selecione o dentista</option>;
											foreach (var item in dentists)
											{
												<option value="@item.ID">@item.Name @item.LastName (@item.Specialty)</option>;
											}
										}
									</select>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Data *</label>
									<input class="form-control col-md-6" type="date" name="Date" value="" required />
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Procedimento *</label>
									<select name="ProcedureID" class="form-control" required>
										@{
											var procedures = ViewData["Procedures"] as IEnumerable<Odonto.Models.Procedure>;
											<option value="0">Selecione um procedimento</option>;
											foreach (var item in procedures)
											{
												<option value="@item.ID">@item.Name</option>;
											}
										}
									</select>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Descrição</label>
									<textarea class="form-control" name="Description" rows="4"></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Valor *</label>
									<input class="form-control col-md-6" type="text" name="Value" required />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">Salvar</button>
						<button type="button" class="btn btn-outline-inverse" data-dismiss="modal">Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>*@