@model Odonto.Models.Patient
@{
	ViewData["Title"] = "Prontuário do Paciente";
}
<div class="col-md-12">
	@Html.Partial("_Profile", Model)
	
	@if (Model.Record != null)
	{
		@Html.Partial("_Anamnesis", Model.Record)
		@Html.Partial("_Procedures", Model.Record.Procedures)
	}
</div>

@if (Model.Record == null)
{
	<a class="btn btn-primary pull-right hidden-xs-down btn-add-flyout" asp-action="AddAnamnesis" asp-route-id="@Model.ID">
		<i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp;Criar Anamnese
	</a>
	<a class="btn btn-primary pull-right hidden-sm-up btn-add-flyout" asp-action="AddAnamnesis" asp-route-id="@Model.ID">
		<i class="fa fa-address-card" aria-hidden="true"></i>
	</a>
}
else
{
	<a class="btn btn-success pull-right hidden-xs-down btn-add-flyout" asp-action="AddProcedure" asp-route-id="@Model.ID">
		<i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;&nbsp;Novo Procedimento
	</a>
	<a class="btn btn-success pull-right hidden-sm-up btn-add-flyout" asp-action="AddProcedure" asp-route-id="@Model.ID">
		<i class="fa fa-tasks" aria-hidden="true"></i>
	</a>
}
