@model Odonto.WebApp.ViewModels.VMDentistUser
@{
	ViewData["Title"] = ViewData["Action"] + " Dentista";
	var action = this.ViewContext.RouteData.Values["action"].ToString();
}
<div class="col-md-12">
	<div class="card card-with-error">
		@if (!string.IsNullOrEmpty(ViewBag.Error))
		{
			<div class="card-header">@ViewBag.Error</div>
		}
		<div class="card-body">
			<form action="@action" method="post">
				<input type="hidden" asp-for="Dentist.ID" />
				<div class="form-body">
					<h3 class="m-t-5">Informações do Profissional</h3>
					<hr>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label">Nome <small>(campo obrigatório)</small></label>
								<input type="text" asp-for="Dentist.Name" class="form-control" autofocus required />
								<span asp-validation-for="Dentist.Name" class="form-control-feedback text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">CRO <small>(campo obrigatório)</small></label>
								<input type="text" asp-for="Dentist.CRO" class="form-control" autofocus required />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group has-info">
								<label class="control-label">Especialidade <small>(campo obrigatório)</small></label>
								<input type="text" asp-for="Dentist.Specialty" class="form-control" autofocus required />
								<span asp-validation-for="Dentist.Specialty" class="form-control-feedback text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">CPF <small>(campo obrigatório)</small></label>
								<input type="text" asp-for="Dentist.CPF" class="form-control" autofocus maxlength="11" placeholder="somente números" required />
								<span id="cpf-validation" asp-validation-for="Dentist.CPF" class="form-control-feedback text-danger"></span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Data de Nascimento</label>
								<input type="date" asp-for="Dentist.BirthDate" class="form-control" autofocus />
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Sexo <small>(campo obrigatório)</small></label><br />
								<div class="form-group">
									<input asp-for="Dentist.Sex" type="radio" value="F" /> Feminino &nbsp;&nbsp;
									<input asp-for="Dentist.Sex" type="radio" value="M" /> Masculino
								</div>
								<span asp-validation-for="Dentist.Sex" class="form-control-feedback text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Telefone <small>(campo obrigatório)</small></label>
								<input type="text" asp-for="Dentist.Phone" id="phone1" class="form-control" autofocus required />
								<span asp-validation-for="Dentist.Phone" class="form-control-feedback text-danger"></span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Telefone 2</label>
								<input type="text" asp-for="Dentist.Phone2" id="phone2" class="form-control" autofocus />
							</div>
						</div>
					</div>

					<h4 class="m-t-10">Credenciais</h4>
					<hr>
					<input type="hidden" asp-for="User.ID" />
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Tipo</label>
								<div class="form-group">	
									<input type="hidden" asp-for="User.Type" />
									<label class="control-label">Dentista</label>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Ativo <small>(campo obrigatório)</small></label>
								<div class="form-group">
									<input asp-for="User.Active" type="radio" value="@true" /> Sim &nbsp;&nbsp;
									<input asp-for="User.Active" type="radio" value="@false" /> Não
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">E-mail <small>(campo obrigatório)</small></label>
								<input type="text" asp-for="User.Email" class="form-control" autofocus required />
								<span asp-validation-for="User.Email" class="form-control-feedback text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Senha</label>
								<input type="password" asp-for="User.Password" class="form-control" autofocus placeholder="@(action == "Edit" ? "Digite a nova senha" : string.Empty)" />
							</div>
						</div>
					</div>

					<h4 class="m-t-10">Endereço</h4>
					<hr>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Rua/Avenida</label>
								<input type="text" asp-for="Dentist.Address" class="form-control" autofocus />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Número</label>
								<input type="text" asp-for="Dentist.Number" class="form-control" autofocus />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Cidade</label>
								<input type="text" asp-for="Dentist.City" class="form-control" autofocus />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label>Estado</label>
								<input type="text" asp-for="Dentist.State" class="form-control" autofocus maxlength="2" />
							</div>
						</div>
					</div>
				</div>
				<div class="form-actions text-right">
					<button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Salvar</button>
					<button type="button" class="btn btn-outline-inverse" onclick="window.history.back()">Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="~/js/custom/cpfValidator.js"></script>
<script src="https://unpkg.com/imask"></script>
<script>
	var element = document.getElementById('phone1');
	var element2 = document.getElementById('phone2');
	var maskOptions = {
		mask: '(00) 00000-0000'
	};
	var mask = new IMask(element, maskOptions);
	var mask = new IMask(element2, maskOptions);
</script>
